/* Custom properties/variables  */
:root {
    --main-yellow: #f8e9a1;
    --main-blue: #a8d0e6;
    --main-darker-blue: #;
    --main-salmon: #f76c6c;
    --main-black: #17252a;
}

html {
    background: var(--main-dark-green)
}

#welcome-section {
    background: var(--main-green);
}

